.main {
  width: 30vw;
  min-height: 100vh;
  background-color: #ddd;
  margin: 0 auto;
  transition: all 0.2s;
}

.infor {
  padding: 50px;
}
.totalCase {
  font-size: 40px;
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-weight: bold;
  text-align: center;
}

.deathsAndRecover {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.deaths {
  font-size: 26px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.recovered {
  font-size: 26px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.label {
  font-size: 12px;
  color: rgb(175, 150, 150);
}

.inputContainer {
  width: 90%;
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  align-self: center;
  margin: auto;
  border-radius: 12px;
  margin: auto;
}

.image {
  margin-right: 30px;
}
.input {
  outline: none;
  width: 70%;
  border: none;
}

::placeholder {
  color: #ccc;
  font-weight: 500;
  font-size: 16px;
}

.listNation {
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .main {
    width: 40vw;
  }
}

@media (max-width: 1024px) {
  .main {
    width: 60vw;
  }
}

@media (max-width: 768px) {
  .main {
    width: 60vw;
  }
}

@media (max-width: 640px) {
  .main {
    width: 80vw;
  }
}

@media (max-width: 446px) {
  .main {
    width: 100vw;
  }
  .totalCase {
    font-size: 32px;
  }
  .deaths {
    font-size: 16px;
  }
  .recovered {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .main {
    width: 100vw;
  }
}
